

{% extends "main_app/base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

<div class="container-fluid">
   
    <div style="overflow:hidden" class="row">
        <div class="col-md-4 col-lg-3" id="personal_info_container">
            {% include 'main_app/sidebar.html' %}


        </div>

        <div class="col-md-8 col-lg-9" style="background-color: #ffffff85;">

      
                <div id="my_margin" style="margin: 0.5cm 1cm 1cm 1cm;" >
                    <div style="display:inline-block" >
                    
                        <div class="btn btn-sm rounded-circle" style="background-color: rgba(0, 30, 255, 0.122);border: 1px rgb(92, 92, 255) solid;">
                            <a style="font-size: 1rem;color: rgb(20, 27, 255);" href="{% url 'main_app:index' %}" > 
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="28" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                </svg>
                            </a>
                        </div>
          
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <h5 style="margin-top: 15px;display:inline-table"> 
                            <b style="color:#00672A;margin-bottom: 0rem;"> Add Language </b>
                            <div style="width: 70px;">
                                <hr style="border: 2px #00a648 solid;opacity: 0.8;margin-top:0.3rem ;">
                            </div>
                        </h5>
                    </div>
                    <br><br>
                    <hr>
    
                    <form  action="{% url 'main_app:add_language' %}" action="#" method="post">
                    <div class="row">
                        <div class="col-8   col-md-5    col-lg-4">
                            {% csrf_token %}
                            {% bootstrap_form add_language_form %}
                        </div>
                        <div class="col-4   col-md-3 col-lg-2">
                            <button onclick="skillsFunction()" class="btn btn-success " name="submit">add</button>
                        </div>
                    </div> 
    
                    </form>

                    <div class="col-12  col-md-11   col-lg-9">
                        <div class="row">
                            {% for language in languages %}
                            <div class="col-6   col-md-4    col-lg-3" style="margin-bottom: 0.7rem;">
                                <div class="d-flex" > 
                                    <h6 class="btn btn-outline-success btn-sm rounded-pill">
                                    {{language.language_name}}  <a style="text-decoration: none;color: #00672A;" href="{% url 'main_app:delete_language' language.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                    </svg> </a>
                                    </h6>  
                                </div> 
                            </div>
                            {% empty %}
                            <br>
                            <br>
                            <center>
                                <img style="width: 60%;height: auto;" src="{% static 'images/illustrations/undraw_no_data_re_kwbl.svg' %}" alt="">
                            </center>

                            <br>
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                
  
            
                </div>
       
          
        </div>

    </div>

</div>


{% endblock content %}









 
                