{% extends "main_app/base.html" %}
{% load bootstrap5 %}


{% block content %}



<div class="container-fluid">
   
    <div class="row">
        <div class="col-md-4 col-lg-3" id="personal_info_container">
            {% include 'main_app/sidebar.html' %}


        </div>

        <div class="col-md-8 col-lg-9" style="background-color: #ffffff85;">

            <div class="container">
                <div   id="my_margin" style="margin: 0.5cm 1cm 1cm 1cm;" >
                 
                    <h3 style="margin-top: 15px;"> <b style="color:#00672A;"> Experience </b> </h3>
         
            
                    <br>
                    <form action="{% url 'main_app:experiences' experience.id %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_form experience_form %}
                        <button class="btn btn-success btn-sm" name="submit">Save</button>
                    </form>
                </div>
            </div>
          
        </div>

    </div>

</div>






  <div class="container">
      <br>
   

    <div class="d-flex justify-content-center">
        <div class="col-8">
          
        </div>
    </div>
 
  </div>






{% endblock content %}