{% extends "main_app/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load skill_tag %}

{% block content %}


<div class="container-fluid" style="width: 100%;">

<body style="background-color: rgb(255, 255, 255); ">

<section >

<div class="row">

<div class="col-md-4 col-lg-3" id="personal_info_container">
    {% include 'main_app/sidebar.html' %}

</div>


<div class="col-md-8  col-lg-9" style="background-color: #ffffff85;">
<div   id="my_margin" style="margin: 0.5cm 1cm 1cm 1cm;" >
    
<div   id="full_details"  >

    <div class="row">
    
            
            <div class="col-12">
            

                <h4 style="margin-bottom: 0.9rem;margin-top: 10px;"> <b style="color: #00672A;">Summery  </b>
                
                    <button onclick="personalFunction()" style="color:#4d77ff;background: none;border: none;font-size: 1rem; font-weight: 500;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>  
                    </button>

                </h3>
                <div id="summery"  style="border-left: 4px solid rgba(4, 189, 22, 0.397);background-color: #22ac0012;width: 99%; ">
                <div  >
                    <h6 class="lead" style="font-size: 0.98rem;margin-left: 16px;margin-right: 6px;padding-top: 10px;padding-bottom: 10px;color: #434242d3;">{{profile.bio}} </h6>   
                </div>
                
                </div>
                <h6 style="font-weight: 600;"></h6>
                <hr> 

            <div class="row">    &nbsp;&nbsp;&nbsp;
                

                <div class="col-lg-11 col-12">
                    <h4 style="margin-bottom: 1.2rem;"> <b style="color: #00672A;"> Experience</b> 
                        <button onclick="experiencesFunction()" style="color:#1349fa;background: none;border: none;font-size: 1rem; font-weight: 500;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>  
                        </button>
                    
                    </h4>
                
                    <div class="timeline">
                    {% for experience in experiences %}  
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                            <span style="color: rgb(32, 32, 32);"> </span>
                            </div>
                            <div class="timeline-info">
                                <h3 style="font-size: 1.4rem !important;color:rgb(60, 60, 60);font-weight:600 ; margin-bottom: 0.1cm;"><span>{{experience.job_title}}</h3>
                                <h6 style="margin-top: 0cm;font-size: 0.9rem !important;  color:rgb(84, 84, 84);margin-bottom: 0.1cm;" >{{experience.company_name}} &bull; <span style="color: gray;font-size:0.75rem;margin-bottom: 0.1cm;"> {{experience.start_date|date:"M Y" }} - {{experience.end_date|date:"M Y" }} </span>  </h6>
                            
                                <p style="color: rgb(101, 101, 101);margin-bottom: 0cm;font-size: 0.9rem">{{experience.job_description|truncatechars:200}}</p>
        
                            </div>
                        </div>
                        
                        {% empty %}
                        <center>
                            <h3><strong> No Experience Yet</strong></h3>
                            <br>
                            <img style="width: 25%;height: auto;" src="{% static 'images/illustrations/undraw_no_data_re_kwbl.svg' %}" alt="">
                            <br><br>
                            <a href="{% url 'main_app:add_experience' %}"  class="btn btn-success">Add Experience</a>
                        </center>
                        {% endfor %}
                </div>


                </div>

        </div>

        <hr>
        <h4 style="margin-bottom: 1.2rem;"> <b style="color:#00672A;"> Education </b>
                <span>
                    <button onclick="educationFunction()" style="color:#1349fa;background: none;border: none;font-size: 1rem; font-weight: 500;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>  
                    </button>
                </span>
    </h4>
    
    <div class="row">
        {% for education in educations %} 
            <div class="col-lg-6 col-12">
                    <div class=" card card-body"   id="education_card" style="height:190px">
                    <h4 style="margin-bottom: 0cm;">  <strong>  {{education.institution_name}}  </strong></h5> 
                    <h6 style="color: rgb(92, 92, 92);font-size:1rem;margin-bottom: 0.1cm;">  {{education.qualification_name}}    </h6> 
                    <h6 style="color: gray;font-size: 0.8rem; ">   {{education.start_date|date:"M Y" }} - {{education.end_date|date:"M Y" }}</h6> 
                        <p> {{education.education_description|truncatechars:120}} </p>
                    
                    </div>    
                    <br>                                          
                </div>
                
                {% empty %}
                <center>
                    <h3><strong> No Education Yet</strong></h3>
                    <br>
                    <img style="width: 25%;height: auto;" src="{% static 'images/illustrations/undraw_no_data_re_kwbl.svg' %}" alt="">
                    <br><br>
                    <a href="{% url 'main_app:add_education' %}" class="btn btn-success">Add Education</a>
                    <br><br>
                </center>
                {% endfor %}
            
    </div>
</div>


<hr>

<div class="row">
    <div id="skill_list" class="col-12  col-md-6 ">
        <h4> <b style="color:#00672A;"> Skills</b>
        
            <a href="{% url 'main_app:add_skill' %}" class="btn" style="color:#1349fa;background: none;border: none;font-size: 1rem; font-weight: 500;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>  
            </a>

        </h4>
        <hr>
        <ul>
            {% for skill in skills %}
                
                <h3 style="margin-bottom: 0cm;font-size: 1.5rem"> <img  height="18" width="18" src="{% static 'images/icons/greentick.png' %}" alt="no pic">&nbsp; <span style="color: rgb(71, 71, 71);font-size: 1rem"> {{skill.skill_name}} </span></h3>
                {% empty %}
                <center>
                    <h4><strong> No Skills Yet</strong></h4>
                    <br>
                    <img style="width: 25%;height: auto;" src="{% static 'images/illustrations/undraw_no_data_re_kwbl.svg' %}" alt="">
                    <br><br>
                    <a href="{% url 'main_app:add_skill' %}" class="btn btn-success">Add Skill</a>
                </center>
            {% endfor %}
        </ul>

    </div>
    <div class="col-12 col-md-6  ">
        <h4> <b style="color:#00672A;"> Languages </b>
            <a href="{% url 'main_app:add_language' %}" class="btn" style="color:#1349fa;background: none;border: none;font-size: 1rem; font-weight: 500;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>  
            </a>
        
        </h4>
        <hr>
        <ul>
            {% for language in languages %}
            
        
    
        <h3 style="margin-bottom: 0cm;font-size: 1.5rem"> <img  height="18" width="18" src="{% static 'images/icons/greentick.png' %}" alt="no pic">&nbsp; <span style="color: rgb(71, 71, 71);font-size: 1rem">  {{language.language_name}}  </span></h3>

        
            
            {% empty %}
            <center>
                <h4><strong> No Languages Yet</strong></h4>
                <br>
                <img style="width: 25%;height: auto;" src="{% static 'images/illustrations/undraw_no_data_re_kwbl.svg' %}" alt="">
                <br><br>
                <a href="{% url 'main_app:add_language' %}" class="btn btn-success">Add language</a>
            </center>
        {% endfor %}
        </ul>
    </div>
</div>
            

    </div>

</div>

<div id="personal_info" style="display: none;">
    
    <h4 style="margin-top: 8px;margin-left: 10px;" > <b style="color:#00672A;"> Personal Information </b> </h4>
    

    <div style="border: 1px solid rgba(0, 128, 0, 0.17);margin-top: 15px;border-radius: 5px;background-color: rgba(158, 255, 158, 0.104);">
        <form style="margin: 0.8cm;" enctype="multipart/form-data" action="{% url 'main_app:index' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form personal_info_form %}
            
            <button class="btn btn-success btn-sm" name="submit">Save</button>
        </form>
    </div>

    
</div>

<div id="experiences" style="display: none;">
    <div style="display: flex;">
        <h3 style="margin-top: 15px;"> <b style="color:#00672A;"> Experience </b> </h3>
            &nbsp;
            <a href="{% url 'main_app:add_experience' %}" class="btn" style="color:#1349fa;background: none;border: none;margin-top: 13px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="23" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
            </a>

    
    </div>
    <hr>


    <div class="timeline">
        {% for experience in experiences %}  
            <div class="timeline-wrapper">
                <div class="timeline-yr">
                <span style="color: rgb(32, 32, 32);"> </span>
                </div>
                <div class="timeline-info">
                    <h3 style="font-size: 1.4rem !important;color:rgb(60, 60, 60);font-weight:600 ; margin-bottom: 0.1cm;"><span>{{experience.job_title}}</h3>
                    <h6 style="margin-top: 0cm;font-size: 0.9rem !important;  color:rgb(84, 84, 84);margin-bottom: 0.1cm;" >{{experience.company_name}} &bull; <span style="color: gray;font-size:0.75rem;margin-bottom: 0.1cm;"> {{experience.start_date|date:"M Y" }} - {{experience.end_date|date:"M Y" }} </span>  </h6>
                
                    <p style="color: rgb(101, 101, 101);margin-bottom: 0cm;font-size: 0.9rem">{{experience.job_description}}</p>
                    <div class="d-flex">
                        <a  class="btn btn-primary  btn-sm"  href="{% url 'main_app:experiences' experience.id %}">Edit</a> &nbsp;&nbsp;
                        <a  class="btn btn-outline-danger   btn-sm" href="{% url 'main_app:delete_experience' experience.id %}">Delete</a>
                        
                    </div>
                    <br>
                </div>
            </div>
            
            {% empty %}
            <center>
                <h3><strong> No Experience Yet</strong></h3>
                <br>
                <img style="width: 25%;height: auto;" src="{% static 'images/illustrations/undraw_no_data_re_kwbl.svg' %}" alt="">
                <br><br>
                <a href="#" onclick="addExperiencesFunction()" class="btn btn-success">Add Experience</a>
            </center>
            {% endfor %}
    </div>


    
</div>

<div id="education" style="display: none;">
    <div style="display: flex;">
        <h3  style="margin-top: 15px;"> <b style="color:#00672A;"> Education </b> </h3>
            &nbsp;
            <a href="{% url 'main_app:add_education' %}" class="btn"  style="color:#1349fa;background: none;border: none;margin-top: 13px">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="23" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
            </a>

    
    </div>

    <hr>
    <div class="row">
        {% for education in educations %} 
            <div class="col-lg-6 col-12">
                    <div class=" card card-body"   id="education_card" style="height:auto">
                    <h4 style="margin-bottom: 0cm;">  <strong>  {{education.institution_name}}  </strong></h5> 
                    <h6 style="color: rgb(92, 92, 92);font-size:1rem;margin-bottom: 0.1cm;">  {{education.qualification_name}}    </h6> 
                    <h6 style="color: gray;font-size: 0.8rem; ">   {{education.start_date|date:"M Y" }} - {{education.end_date|date:"M Y" }}</h6> 
                        <p> {{education.education_description|truncatechars:120}} </p>
                        <div class="d-flex">
                            <a  class="btn btn-primary  btn-sm"  href="{% url 'main_app:education' education.id %}">Edit</a> &nbsp;&nbsp;
                            <a  class="btn btn-outline-danger   btn-sm" href="{% url 'main_app:delete_education' education.id %}">Delete</a>
                        </div>
                    </div>    
                    <br>                                          
                </div>
                
                {% empty %}
                <center>
                    <h3><strong> No Education Yet</strong></h3>
                    <br>
                    <img style="width: 25%;height: auto;" src="{% static 'images/illustrations/undraw_no_data_re_kwbl.svg' %}" alt="">
                    <br><br>
                    <a href="#" onclick="addExperiencesFunction()" class="btn btn-success">Add Education</a>
                    <br>
                </center>
                {% endfor %}
            
    </div>
</div>


</div>
</div>

</div>



</section>

<script src="{% static 'js/index.js' %}"></script>
</body>
</div>




{% endblock content %}




