<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>resu.me_</title>
    
    <style>
        @media  screen and ( max-width:400px ) {
            #templates_text{
                font-size: 3rem   !important;
            }
            #hero_text{
                font-weight: 600 !important;
                font-size: 2.7rem !important;
            }
        }
  
    </style>

    
</head>


  <nav class="navbar navbar-expand-lg fixed-top" style="background-color:#00672A;height:80px;position: relative;">
    <div class="container-fluid" style="width: 92%;">
      
      {% if user.is_authenticated %}
      <a class="navbar-brand d-flex" href="{% url 'main_app:index' %}">
      &nbsp;<h1 style="color:white;font-weight:600;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >resu.</h1> 
      <h1 style="color: rgb(53, 124, 255);font-weight:600;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">me_</h1>  &nbsp;
    </a>
    {% else %}
    <a class="navbar-brand d-flex" href="{% url 'main_app:landing_page' %}">
        &nbsp;<h1 style="color:white ;font-weight:600;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >resu.</h1> 
        <h1 style="color: rgb(53, 124, 255);font-weight:600;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">me_</h1>  &nbsp;
      </a>
    {% endif %}

    
        <div style="background-color:#63f79e00;" class="d-none d-lg-block ">  
            <div > 
                <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a style="color:#F0FCBF;" class="nav-link" href="{% url 'main_app:index' %}">home</a> 
                    </li>&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a style="color: #F0FCBF;" class="nav-link" href="{% url 'main_app:landing_page' %}">about</a>
                    </li>&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a style="color: #F0FCBF;" class="nav-link" href="{% url 'main_app:templates_list' %}">templates</a>
                    </li>&nbsp;&nbsp;&nbsp;
                    {%  if user.is_authenticated %}
                    <li class="nav-item" style="padding-top:4px;">
                        <a style="color: #4f4f4f; background-color: #b9b9b9eb; font-size: 1rem;border:#5555555f 2px solid;" class=" btn btn-sm rounded-pill" href="{% url 'profiles_app:logout' %}"> &nbsp; logout &nbsp; </a>
                    </li>
               
                    {%  else %}
                      
                    <li class="nav-item" style="padding-top:4px;">
                        <a style="color: #F0FCBF; background-color: #95f8bd51; font-size: 1rem;border:#F0FCBF 2px solid;" class=" btn btn-sm rounded-pill" href="{% url 'profiles_app:login' %}"> &nbsp; sign in &nbsp; </a>
                    </li>
                    {%  endif %}
                </ul>
            </div>
      </div>




<div    class="d-block d-lg-none">

    <div    class="d-flex   justify-content-end">
        <button class="btn btn-outline-secodary " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list    text-light" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
    </div>


      <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="background-color:#003a17;">
            <div > 
                <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a style="color:#F0FCBF;" class="nav-link" href="{% url 'main_app:index' %}">home</a> 
                    </li>&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a style="color: #F0FCBF;" class="nav-link" href="{% url 'main_app:landing_page' %}">about</a>
                    </li>&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a style="color: #F0FCBF;" class="nav-link" href="{% url 'main_app:templates_list' %}">templates</a>
                    </li>&nbsp;&nbsp;&nbsp;
                    {%  if user.is_authenticated %}
                    <li class="nav-item" style="padding-top:4px;">
                        <a style="color: #4f4f4f; background-color: #b9b9b9eb; font-size: 1rem;border:#5555555f 2px solid;" class=" btn btn-sm rounded-pill" href="{% url 'profiles_app:logout' %}"> &nbsp; logout &nbsp; </a>
                    </li>
               
                    {%  else %}
                      
                    <li class="nav-item" style="padding-top:4px;">
                        <a style="color: #F0FCBF; background-color: #95f8bd51; font-size: 1rem;border:#F0FCBF 2px solid;" class=" btn btn-sm rounded-pill" href="{% url 'profiles_app:login' %}"> &nbsp; sign in &nbsp; </a>
                    </li>
                    {%  endif %}
                </ul>
            </div>
        </div>
      </div>

</div>
     
            </ul>
        </div>
      </div>
      
    </div>
  </nav>




    <body style="position: relative;">

        
        
            <section class="landing-page" style="background-color:#00672A;" >
                <div class="container-fluid" style="width: 90%;height:100% !important;">
                    <div    class="d-none   d-md-block">
                        <br><br><br> 

                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <br>
                            <h1 id="hero_text" style="margin-bottom: -1rem;font-size: 3.5rem;font-weight: 800;color:#F5FFCE;"> Get Your  </h1>
                            <h1 id="hero_text" style="margin-top: 0cm;font-size: 3.5rem;font-weight: 800;color:#F5FFCE;line-height: 60px;"> resume done!</h1>
                            <p style="width: 85%;color:#d4d4d4;font-size: 1.2rem;"> 
                                The easiest and fastest way to build professional cv & resume for your next job application 
                            </p>
                            <br>
                            <a href="{% url 'profiles_app:register' %}" class="btn  btn-lg rounded-pill" style="background-color:#f0fcbf;color:#00672A;font-weight: 600;"> Get started <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg></a>
                        </div>
                        <div class="col-md-5">
                            <br>
                            <img class="img-fluid" src="{% static 'images/illustrations/undraw_online_cv_re_gn0a.svg' %}" alt="">
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <br>

            </section>

            <section class="about-section" style="background-color: #c8e3cf;">
                <br>
                <div class="d-flex justify-content-center">
                    <div class="" style="border-left: 3px solid #0067299a;border-bottom: 3px solid #0067299a;margin:0cm">
                        <h4 style="margin-left: 5px;color:#00672A;margin-top: 0cm;margin-bottom: 0cm;"> <b> About</b>  &nbsp;</h4>
                      </div>
                </div>
                

                <div class="container">
                    <br> <br>
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-fluid" src="{% static 'images/illustrations/undraw_portfolio_update_re_jqnp.svg' %}" alt="">
                        </div>
                        <div class="col-md-7">
                            <br>
                            <div style="border-left: 2px solid green;width: 90%;">
                                <p style="margin-left: 10px">
                                    Building & designing professional looking resume can often be challeging,
                                    especially to those with little or no technical skills to do so. 
                                    This platforms hopes to solve that problem, by offering a fast and easy way to build your resume.
                                    You can have your PDF resume in 3 easy steps:

                                        <ul>
                                            <h3 style="margin-bottom: 0cm;font-size: 1.2rem"> <img  height="18" width="18" src="{% static 'images/icons/greentick.png' %}" alt="no pic">&nbsp; <span style="font-size: 1.1rem">  Register </span></h3>

                                            <h3 style="margin-bottom: 0cm;font-size: 1.2rem"> <img  height="18" width="18" src="{% static 'images/icons/greentick.png' %}" alt="no pic">&nbsp; <span style="font-size: 1.1rem">  Provide your personal % professional info </span></h3>
                                        
                                            <h3 style="margin-bottom: 0cm;font-size: 1.2rem"> <img  height="18" width="18" src="{% static 'images/icons/greentick.png' %}" alt="no pic">&nbsp; <span style="font-size: 1.1rem">  Pick a template and download </span></h3>
                                        
                                        </ul>
                                    
                                <p style="margin-left: 10px">
                                    Job applications will be so much easier now with the help of <b> resu.me_</b>  . This platform was built and designed by
                                    <a href="https://mokhelek.pythonanywhere.com"> Mokhele Katleho</a>
                                </p>
                                    
                                 
                                    
                                </p>
                                
                            </div>
                            
                        </div>
                    </div>
                    <br>
                    <br>
                </div>

            </section>

            <section style="background-color: rgb(206, 206, 206);">
                <br>
                <div class="d-flex justify-content-center">
                    <div class="" style="border-left: 3px solid #0067299a;border-bottom: 3px solid #0067299a;margin:0cm">
                        <h4 style="margin-left: 5px;color:#00672A;margin-top: 0cm;margin-bottom: 2px;"> <b> Templates</b>  &nbsp;</h4>
                      </div>
                </div>
                <br>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h1  id="templates_text"   style="margin-bottom: -1rem;font-size: 4rem;font-weight: 800;color:#00672A;"> Just Pick  </h1>
                            <h1 id="templates_text" style="margin-top: 0cm;font-size: 4rem;font-weight: 800;color:#00672A;"> a template</h1>
                            <p>
                                Choose from our list of professional resume templates. The templates are resume AI-scanner freandly. 
                                Download the resume free in PDF format
                            </p>
                            <br>
                            <a class="btn btn-lg btn-outline-success rounded-pill" href="#">view templates</a>
                        </div>
                        <div class="col-md-5">
                            <img src="{% static 'images/illustrations/undraw_hiring_re_yk5n.svg' %}" alt="" class="img-fluid">
                        </div> 

                    </div>   
                </div>
                <br>
            </section>

            <footer  style="background-color: #003a17;height: 3cm;color: #F0FCBF;">
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h6 style="margin-right: 1rem;"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                              </svg> &nbsp; &nbsp; <a  style="text-decoration: none;" href="{% url 'main_app:index' %}"> Home </a>
                             </h6>
            
                            <h6 style="margin-right: 1rem;"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                              </svg>  <a style="text-decoration: none;" href="{%    url 'main_app:landing_page' %}">  &nbsp; &nbsp; About </a> 
                             </h6> 
            
                                
                            <h6 style="margin-right: 1rem;"> <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                              </svg> <a style="text-decoration: none;" href="{%   url 'profiles_app:logout'  %}">  &nbsp; &nbsp; Logout</a> 
                             </h6>
                             
                        </div>
                        <div class="col-md-5">
                            
                        </div>
                    </div>
                </div>
               
            </footer>
            
    
       
      
    </body>

</html>