<head>
	{% load skill_tag %}
	<style>
		@page{
		
			margin: 1cm;
		}
	</style>
</head>


<h1 style="margin-bottom: -0.8cm;font-size: 3.5rem;color:rgb(33, 33, 33); font-weight: 600;" >  {{profile.first_name}}  {{profile.last_name}} </h1> 
<h3 style="color:rgb(103, 103, 103);font-size: 2rem;margin-top: -0.4cm;margin-bottom: -0.2cm">{{profile.job_title}}  </h3>


<table style="margin-top: 0cm;">
	<tr >
		{% if profile.github_link  %}
		<td style="width:5%;">

			<a style="text-decoration: none;color:white;" href="{{profile.github_link}}">
				.
				<img height="21" width="21" src="C:\Users\Mokhele katleho\Desktop\resu.me_\Resume_Builder\static\images\icons\github.svg" alt="">
			</a>
		</td>
		{% else %}
		<td style="width:0.1%;">

			<a style="text-decoration: none;color:white;" href="{{profile.github_link}}">
				.
				
			</a>
		</td>
		{% endif %}

		{% if profile.linkedin_link  %}
		<td style="width:5%;">
			<a style="text-decoration: none;color:white;" href="{{profile.linkedin_link}}">
				.
				<img height="20" width="20" src="C:\Users\Mokhele katleho\Desktop\resu.me_\Resume_Builder\static\images\icons\linkedin.svg" alt="">
			</a>

		</td>
		{% endif %}


		{% if profile.twitter_link  %}
		<td style="width:5%;">
			.
			<a style="text-decoration: none;color:white;" href="{{profile.twitter_link}}">
				<img height="20" width="20" src="C:\Users\Mokhele katleho\Desktop\resu.me_\Resume_Builder\static\images\icons\twitter.svg" alt="">
			</a>
		</td>
		{% endif %}


		{% if profile.personal_link  %}
		<td style="width:5%;">
			<a style="text-decoration: none;color:white;" href="{{profile.personal_link}}">
				.
				<img height="19" width="19" src="C:\Users\Mokhele katleho\Desktop\resu.me_\Resume_Builder\static\images\icons\globe.svg" alt="">
			</a>

		</td>
		{% endif %}
	</tr>
</table>

<h3 style="margin-bottom: 0cm;font-size: 1.2rem"> phone : <span style="color: gray;font-size: 1.2rem"> {{profile.cell}} </span></h3>
<h3 style="margin-top: -0.3cm;font-size: 1.2rem"> email : <span style="color: gray;font-size: 1.2rem"> {{profile.email}}</span></h3>

<p style="margin-right: 20px;font-size: 1.2rem; width: 70%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
	{{profile.bio}}
</p>
	<h1 style="margin-bottom: -0.2cm;font-size: 1.9rem;"> <strong>Experience </strong></h1>
	<h6 style="color: rgb(163, 163, 163);margin-top: -0.7cm;margin-bottom: 0.6cm;">  ___________________________________________________________________________________________________________________________</h6>

	{% for experience in experiences %}
		<table>
			<tr>
				<td style="width:18%">
					<h6 style="margin-bottom: 0cm;font-size: 0.9rem;margin-top: 0cm;color:rgb(85, 85, 85);"> {{experience.start_date|date:"M Y" }}  -</h6>
					<h6 style="margin-top: 0cm;font-size: 0.9rem;color:rgb(85, 85, 85);"> {{experience.end_date|date:"M Y" }}  </h6>
					
				</td>
				<td style="width:80%">
					<h2 style="margin-bottom: 0cm;font-size: 1.4rem;"> <strong> {{experience.job_title}} </strong>  </h2>  
					<h4 style="margin-top: 0cm;font-size: 1.1rem;color:rgb(103, 103, 103);" >{{experience.company_name}}</h4>
					
				</td>
			</tr>
			<tr>
				<td style="width:18%">
					
					
				</td>
				<td style="width:80%">
					
					<p style="font-size: 1.2rem;color:rgb(44, 44, 44)">{{experience.job_description}}</p>
				</td>
			</tr>
		</table> 
		<br>
{% endfor %}

<h1 style="margin-bottom: -0.2cm;font-size: 1.9rem;"> <strong>Education </strong></h1>
<h6 style="color: rgb(163, 163, 163);margin-top: -0.7cm;margin-bottom: 0.6cm;">  ___________________________________________________________________________________________________________________________</h6>

{% for education in educations %}
	<table>
		<tr>
			<td style="width:18%">
				<h6 style="margin-bottom: 0cm;font-size: 0.9rem;margin-top: 0cm;color:rgb(85, 85, 85);"> {{education.start_date|date:"M Y" }}  -</h6>
				<h6 style="margin-top: 0cm;font-size: 0.9rem;color:rgb(85, 85, 85);"> {{education.end_date|date:"M Y" }}  </h6>
				
			</td>
			<td style="width:80%">
				<h2 style="margin-bottom: 0cm;font-size: 1.4rem;"> <strong> {{education.institution_name}} </strong>  </h2>  
				<h4 style="margin-top: 0cm;font-size: 1.1rem;color:rgb(103, 103, 103);" >{{education.qualification_name}}</h4>
				
			</td>
		</tr>
		<tr>
			<td style="width:18%">
				
				
			</td>
			<td style="width:80%">
				
				<p style="font-size: 1.2rem;color:rgb(44, 44, 44)">{{education.education_description}}</p>
			</td>
		</tr>
	</table> 
	<br>
{% endfor %}


<h1 style="margin-bottom: -0.2cm;font-size: 1.9rem;"> <strong>Skills</strong></h1>
<h6 style="color: rgb(163, 163, 163);margin-top: -0.7cm;margin-bottom: 0.6cm;">  ___________________________________________________________________________________________________________________________</h6>


	<table>
		<tr>
			
				<td style="width:30%">
					{% for skill in skills %}  
						{% if forloop.counter|modulo:2 == 1 %}
					<ul>
						<li style="font-size: 1.6rem;color:rgb(44, 44, 44)">{{skill.skill_name}}  </li>
					</ul>
						{% endif %}
					{% endfor %}
				</td>
			


			
			
				<td style="width:30%">
					{% for skill in skills %}  
						{% if forloop.counter|modulo:2 == 0 %}
					<ul>
						<li style="font-size: 1.6rem;color:rgb(44, 44, 44)">{{skill.skill_name}}  </li>
					</ul>
						{% endif %}
					{% endfor %}
				</td>
			
		</tr>
	</table>



	<h1 style="margin-bottom: -0.2cm;font-size: 1.9rem;"> <strong>Languages</strong></h1>
	<h6 style="color: rgb(163, 163, 163);margin-top: -0.7cm;margin-bottom: 0.6cm;">  ___________________________________________________________________________________________________________________________</h6>
	
	<ul>
		{% for language in languages %}
			
				<li style="font-size: 1.6rem;color:rgb(44, 44, 44)"> {{language.language_name}} </li>
			
			{% empty %}
			no languages yet
		{% endfor %}
	</ul>
