<head>
	{% load skill_tag %}
	<style>
		@page{
		
			margin: 0.6cm;
		}
		p, h1, h2, h3, h4, h5, h6, button, a, li{
            font-family: "Helvetica" !important ;
            
        }
	</style>
</head>


<h1 style="margin-bottom: -0.8cm;font-size: 3.5rem;color:rgb(33, 33, 33); font-weight: 600;" >  {{profile.first_name}}  {{profile.last_name}} </h1> 
<p style="color:rgb(103, 103, 103);font-size: 2rem;margin-top: -0.4cm;margin-bottom: -0.2cm">{{profile.job_title}}  </p>


<table style="margin-top: 0cm;">
	<tr >
		{% if profile.github_link  %}
		<td style="width:4%;">

			<a style="text-decoration: none;color:white;" href="{{profile.github_link}}">
				.
				<img height="16" width="16" src="/home/resumebuildersite/a-django-built-resume-generator/static/images/icons/github.svg" alt="">
			</a>
		</td>
		{% else %}
	
		{% endif %}

		{% if profile.linkedin_link  %}
		<td style="width:4%;">
			<a style="text-decoration: none;color:white;" href="{{profile.linkedin_link}}">
				.
				<img height="16" width="16" src="/home/resumebuildersite/a-django-built-resume-generator/static/images/icons/linkedin.svg" alt="">
			</a>

		</td>
		{% endif %}


		{% if profile.twitter_link  %}
		<td style="width:4%;">
			
			<a style="text-decoration: none;color:white;" href="{{profile.twitter_link}}">
				.
				<img height="16" width="16" src="/home/resumebuildersite/a-django-built-resume-generator/static/images/icons/twitter.svg" alt="">
			</a>
		</td>
		{% endif %}


		{% if profile.personal_link  %}
		<td style="width:4%;">
			<a style="text-decoration: none;color:white;" href="{{profile.personal_link}}">
				.
				<img height="16" width="16" src="/home/resumebuildersite/a-django-built-resume-generator/static/images/icons/globe.svg" alt="">
			</a>

		</td>
		{% endif %}

		
		{% if profile.personal_link == null and profile.github_link == null and profile.twitter_link == null and profile.linkedin_link == null   %}
		<td style="width:4%;">
		
			
		</td>
		{% endif %}

	</tr>
</table>


<p style="margin-bottom: 0cm;font-size: 1rem;margin-top: 5px;"> <img  height="12" width="12" src="/home/resumebuildersite/a-django-built-resume-generator/static/images/icons/telephone-fill.svg" alt="no pic">&nbsp; <span style="color: rgb(71, 71, 71);font-size: 1rem">&nbsp;{{profile.cell }}</span></p>
<p style="margin-bottom: 0cm;font-size: 1rem;margin-top: 2px;"> <img  height="12" width="12" src="/home/resumebuildersite/a-django-built-resume-generator/static/images/icons/envelope-fill.svg" alt="no pic">&nbsp; <span style="color: rgb(71, 71, 71);font-size: 1rem">&nbsp;{{profile.email }}</span></p>


<p style="margin-right: 20px;font-size: 1.2rem; width: 70%;">
	{{profile.bio}}
</p>
	<h1 style="margin-bottom: -0.2cm;font-size: 1.9rem;"> <strong>Experience </strong></h1>
	<h6 style="color: rgb(163, 163, 163);margin-top: -0.7cm;margin-bottom: 0.6cm;">  ___________________________________________________________________________________________________________________________</h6>

	{% for experience in experiences %}
		<table>
			<tr>
				<td style="width:18%">
					<p style="margin-bottom: 0cm;font-size: 1rem;margin-top: 0cm;color:rgb(129, 129, 129);"> {{experience.start_date|date:"M Y" }} - {{experience.end_date|date:"M Y" }}</p>

				</td>
				<td style="width:80%">
					<h2 style="margin-bottom: 0cm;font-size: 1.4rem;"> <strong> {{experience.job_title}} </strong>  </h2>  
					<p style="margin-top: 0cm;font-size: 1.1rem;color:rgb(103, 103, 103);" >{{experience.company_name}}</p>
					
				</td>
			</tr>
			<tr>
				<td style="width:18%">
					
					
				</td>
				<td style="width:80%">
					
					<p style="font-size: 1.2rem;color:rgb(44, 44, 44)">{{experience.job_description}}</p>
				</td>
			</tr>
		</table> 
		<br>
{% endfor %}

<h1 style="margin-bottom: -0.2cm;font-size: 1.9rem;"> <strong>Education </strong></h1>
<h6 style="color: rgb(163, 163, 163);margin-top: -0.7cm;margin-bottom: 0.6cm;">  ___________________________________________________________________________________________________________________________</h6>

{% for education in educations %}
	<table>
		<tr>
			<td style="width:18%">
				<p style="margin-bottom: 0cm;font-size: 1rem;margin-top: 0cm;color:rgb(129, 129, 129);"> {{education.start_date|date:"M Y" }} - {{education.end_date|date:"M Y" }}</p>

			</td>
			<td style="width:80%">
				<h2 style="margin-bottom: 0cm;font-size: 1.4rem;"> <strong> {{education.institution_name}} </strong>  </h2>  
				<p style="margin-top: 0cm;font-size: 1.1rem;color:rgb(103, 103, 103);" >{{education.qualification_name}}</p>
				
			</td>
		</tr>
		<tr>
			<td style="width:18%">
				
				
			</td>
			<td style="width:80%">
				
				<p style="font-size: 1.2rem;color:rgb(44, 44, 44)">{{education.education_description}}</p>
			</td>
		</tr>
	</table> 
	<br>
{% endfor %}


<h1 style="margin-bottom: -0.2cm;font-size: 1.9rem;"> <strong>Skills</strong></h1>
<h6 style="color: rgb(163, 163, 163);margin-top: -0.7cm;margin-bottom: 0.6cm;">  ___________________________________________________________________________________________________________________________</h6>


	<table>
		<tr>
			
				<td style="width:30%">
					{% for skill in skills %}  
						{% if forloop.counter|modulo:2 == 1 %}
					<ul>
						<li style="font-size: 1.2rem;color:rgb(44, 44, 44)">{{skill.skill_name}}  </li>
					</ul>
						{% endif %}
					{% endfor %}
				</td>
			


			
			
				<td style="width:30%">
					{% for skill in skills %}  
						{% if forloop.counter|modulo:2 == 0 %}
					<ul>
						<li style="font-size: 1.2rem;color:rgb(44, 44, 44)">{{skill.skill_name}}  </li>
					</ul>
						{% endif %}
					{% endfor %}
				</td>
			
		</tr>
	</table>



	<h1 style="margin-bottom: -0.2cm;font-size: 1.9rem;"> <strong>Languages</strong></h1>
	<h6 style="color: rgb(163, 163, 163);margin-top: -0.7cm;margin-bottom: 0.6cm;">  ___________________________________________________________________________________________________________________________</h6>
	
	<ul>
		{% for language in languages %}
			
				<li style="font-size: 1.2rem;color:rgb(44, 44, 44)"> {{language.language_name}} </li>
			
			{% empty %}
			no languages yet
		{% endfor %}
	</ul>
